{% set grid_size = theme_var('grid-size') %}

<section class="section modular-text {{ page.header.class }}">
    <section class="container {{ grid_size }} ">
        <div class="columns newsfeed">
            <div class="column col-12">
                {{ content|raw }}
            </div>
        {% include 'partials/feedpart.html.twig' %}
        </div>
    </section>
</section>